.test {
  background-color: #009da7;
  height: 65vh;
  display: flex;
  text-align: center;
  padding-top: 50px;
}

.homecont {
  background-color: #ffe2d8;
  padding: 175px;
}

.searchtitle {
  text-align: center;
  color: #009da7;
}
