header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffe2d8;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: flex;
  color: #009da7;
  padding-right: 50%;
  /* align-items: center; */
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  height: 80%;
}

.navigation {
  width: 300px;
}

.navigation > ul {
  display: flex;
  justify-content: space-between;
}

.navigation > ul li {
  list-style-type: none;
  font-size: 24px;
}

.navigation > ul li > a {
  text-decoration: none;
  color: #009da7;
}

h1 {
  font-size: 44px;
}

.box {
  position: absolute;
  background-color: #ffe2d8;
  cursor: move;
  color: #009da7;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
