/* .title {
  background-color: #ffe2d8;
  height: 75px;
  padding-left: 35px;
  padding-top: 15px;
  color: #56c1d1;
} */

img {
  border-radius: 25px;
}

.login-title {
  display: flex;
  justify-content: center;
  color: #009da7;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container {
  height: 65vh;
  width: 50%;
  background-color: #ffe2d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 95px;
  border-radius: 25px;
}

.login-container > div {
  justify-content: center;
  padding: 35px;
}
.input-container,
.btn-container {
  padding-top: 5px;
  padding-left: 125px;
  margin: 2px;
  /* float: left; */
}

.log-button {
  padding: 2px;
}
